<div style="height:100%">
    <table class="table">
        <thead>
            <tr>
                <th>流水号</th>
                <th>用户id</th>
                <th>id类型</th>
                <th>用户名</th>
                <th>上传渠道</th>
                <th>验证时间</th>
                <th>相似度</th>
                <th>验证结果</th>
                <th>照片对比</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{log.num}}</td>
                <td>{{log.id}}</td>
                <td>{{log.id_type}}</td>
                <td>{{log.name}},</td>
                <td>{{log.channel}},</td>
                <td>{{log.check_time}}</td>
                <td>{{log.sim}}</td>
                <td>{{log.result}}</td>
                <td><a href="#" onmouseover="displayImg('{{log.id}}')"
                                onmouseout="vanishImg('{{log.id}}')"
                                onmousemove="displayImg('{{log.id}}')" 
                style="float: center; margin-left:5px; margin-top: 5px;">
                    照片对比
                </a></td>
                <div id="img_{{log.id}}" style="position: absolute; display: none">
                  <div>
                    <div style="width:300px">
                      <span>注册时的照片</span>
                      <img src="{{url_for('static', filename='images/'+log.path_in_DB)}}" alt="图片正在加载中..."
                      style="border:black 1px solid; width:260px"> 
                    </div>
                    <div style="width:300px">
                      <span>上传的照片</span>
                      <img src="{{url_for('static', filename='images/'+log.path_uploaded)}}" alt="图片正在加载中..."
                      style="border:black 1px solid; width:260px"> 
                    </div>
                  </div>
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer class="navbar-fixed-bottom">
    <div id="page_bar" class="container">
        <a href="javascript:firstPage()">首页</a>
        <a href="javascript:previousPage()"><上一页</a>
        <span id="near_pages">
        </span>
        <a href="javascript:nextPage()">下一页></a>
        <a href="javascript:lastPage()">尾页</a>
        <lable>总共</lable>
        <lable id="total_page_num">{{total_page_num}}</lable>
        <label>页</label>
        <input type="text" id="page_to_set" value="">
        <input type="button" value="Go" href="javascript:turnToPage()">
        <input type="hidden" id="witch_module" value="checkLog">
    </div>
    </footer>
</div>
