<html>
    <head>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script src="../static/js/admin.js"></script>
        <link rel="stylesheet" href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css">
        <title>管理系统</title>
    </head>
    <body>
        <form>
            <nav class="navbar navbar-light bg-light flex-md-nowrap p-0">           
                <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:orange;font-size:22px;">后台管理</a>
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="搜索">
                <input class="btn btn-outline-danger my-2 my-sm-0" type="submit" value="注销">
            </nav>
        </form>


        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:setParameters()">参数列表</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:loginedFace()">注册数据</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:chekcLog()">验证记录</a>
                            </li class="nav-item">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:image()">后台照片</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main id="main_body" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div>
                        <h id="main_title">欢迎您登陆管理系统</h>
                        <div>
                            <ul id="info_list">
                                你好呀，管理员！
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>


    </body>
</html>