<html>
    <head>
        <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/admin.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.0.0-dist/css/bootstrap.min.css')}}">
        <title>管理系统</title>
    </head>
    <body>
        <form>
            <nav class="navbar navbar-light bg-light flex-md-nowrap p-0">           
                <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0" style="color:orange;font-size:22px;">后台管理</a>
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="搜索">
                <input class="btn btn-outline-danger my-2 my-sm-0" type="submit" value="注销">
            </nav>
        </form>


        <div class="container-fluid" style="height:92%">
            <div class="row" style="height:100%">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="height:100%">
                    <div class="sidebar-sticky" style="height:100%">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:parameters()">参数列表</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:loginedFace()">注册人脸</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:chekcLog()">验证记录</a>
                            </li class="nav-item">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:image()">后台照片</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main id="main_body" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="height: 100%">
                <!--待填充-->
                </main>
            </div>
        </div>


    </body>
</html>
