{% extends 'home.html' %}

{% block main %}
<div>
    <table class="table">
        <thead>
            <tr>
                <th>用户id</th>
                <th>id类型</th>
                <th>用户名</th>
                <th>上传渠道</th>
                <th>upload time</th>
                <th>图片</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            <tr>
                <td>{{person.id}}</td>
                <td>{{person.id_type}}</td>
                <td>{{person.name}},</td>
                <td>{{person.channel}},</td>
                <td>{{person.login_time}}</td>
                <td></td><img src="{{url_for('static', filename='images/'+person.path)}}" width="180" height="120" alt="test"/> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
