<div>
    <table class="table">
        <thead>
            <tr>
                <th>用户id</th>
                <th>id类型</th>
                <th>用户名</th>
                <th>上传渠道</th>
                <th>upload time</th>
                <th>图片</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            <tr>
                <td>{{person.id}}</td>
                <td>{{person.id_type}}</td>
                <td>{{person.name}},</td>
                <td>{{person.channel}},</td>
                <td>{{person.login_time}}</td>
                <td><a href="#" onmouseover="displayImg('{{person.id}}')"
                                onmouseout="vanishImg('{{person.id}}')"
                                onmousemove="displayImg('{{person.id}}')" 
                style="float: center; margin-left:5px; margin-top: 5px;">
                    注册照片
                </a></td>
                <div id="img_{{person.id}}" style="position: absolute; display: none">
                    <img src="{{url_for('static', filename='images/'+person.path)}}" alt="图片正在加载中..." 
                    style="width:300px; border:black 1px solid;">
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
