<meta charset="UTF-8">
    <form  name="form" method="POST">
        <input type="hidden" name="resource" value="parameters">
        <table class="table">
            <thead>
                <tr>
                    <th>参数名</th>
                    <th>参数值</th>
                    <th>备注</th>
                </tr>
            </thead>    
            <tbody>
                {% for parameter in parameters %}
                <tr>
                    <td>{{parameter.name}}</td>
                    <td><input type="text" value="{{parameter.value}}" name="{{parameter.no}}"></input></td>
                    <td>{{parameter.comment}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="button" onclick="javascript:setParameters()" value="确认修改">
        <a>重启系统后参数配置才会生效</a>
    </form>    
